<div class="grid-container" >
  <h1 class="mat-h1">Dashboard</h1>
<div class="row">
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        ¡Welcome!
      </mat-panel-title>

    </mat-expansion-panel-header>
    <div class="row">
    <div class="col-md-6">
      <app-card title="{{titles.miniCards.one}}">
        <app-balance></app-balance>
      </app-card>
    </div>
    <div class="col-md-6">
      <app-card title="{{titles.miniCards.two}}">
        <app-credits></app-credits>
      </app-card>
    </div>
    </div>
  </mat-expansion-panel>

</div>
 <!-- <mat-grid-list cols="{{ ( cardLayout | async )?.columns }}" rowHeight="200px">

    <mat-grid-tile *ngFor="let i of [1, 2, 3, 4]" [colspan]="( cardLayout | async )?.miniCard?.cols"
                   [rowspan]="( cardLayout | async )?.miniCard?.rows">
      <app-card title="Card {{i}}"><div>Mini Card Content Here</div></app-card>
    </mat-grid-tile>

    <mat-grid-tile *ngFor="let i of [5, 6, 7, 8]" [colspan]="( cardLayout | async )?.chart?.cols"
                   [rowspan]="( cardLayout | async )?.chart?.rows">
      <app-card title="Card {{i}}"><div>Chart Content Here</div></app-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="( cardLayout | async )?.table?.cols" [rowspan]="( cardLayout | async )?.table?.rows">
      <app-card title="Card 9"><div>Table Content Here</div></app-card>
    </mat-grid-tile>
  </mat-grid-list>-->
</div>


